rds_master_username  = ""
rds_master_password  = ""
auth_db_password     = ""
products_db_password = ""
orders_db_password   = ""
delivery_db_password = ""
reports_db_password  = ""
mq_password          = ""
jwt_access_secret    = ""
jwt_refresh_secret   = ""
github_access_token  = ""
domain_name          = ""
datadog_api_key      = ""