# ============================================
# FastMeals — Ansible Configuration
# ============================================

[defaults]
inventory         = inventory/aws.yml
roles_path        = roles
remote_user       = ec2-user
private_key_file  = ~/.ssh/fastmeals-bastion.pem
host_key_checking = False
timeout           = 30
retry_files_enabled = False
stdout_callback   = default
callbacks_enabled = ansible.builtin.timer

# Vault
vault_password_file = .vault_password

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True